<app-menu [title]="title"
          color="dark">
</app-menu>

<div class="container">
<h1> {{ title }}</h1>


<div *ngFor= "let user of users">
  {{ user.name }}</div>




<h2>Les pizzas</h2>  
<app-pizza [pizza]="selectedPizza"></app-pizza>

<ul>
  <li *ngFor="let pizza of pizzas"
      (click)="onSelect(pizza)"
      [class.selected]="pizza === selectedPizza">
      
    {{ pizza.name }}
  </li>
</ul>


<app-user [user]="selectedUser"></app-user>
<app-ingredient-list [ingredients]="ingredients"></app-ingredient-list>
</div>